.container{
    button{
        border: solid 2px var(--blue);
        background-color: white;
        width: 205px;
        height: 45px;
        font-family: "Gotham";
        font-weight: 500;
        color: var(--blue);
        font-size: 20px;
        border-radius: 8px;
        cursor: pointer;
        &:hover{
        border: none;
        background-color: var(--blue);
        width: 205px;
        height: 45px;
        font-family: "Gotham";
        font-weight: 500;
        color: white;
        font-size: 20px;
        border-radius: 8px;
        transition: background 0.8s ease-in-out;
        cursor: pointer;
    }
 }
}