.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 40px;
        font-weight: 800;
        color: var(--blue);
    }
    .content {
        padding-top: 60px;
        svg{
            width: clamp(300px,74vw,1400px);
            height: clamp(150px,45vw,600px);
        }
    }
}